[submodule "backend/app/core/redis"]
	path = backend/app/core/redis
	url = https://github.com/wcf000/redis-utilities.git
	branch = bare_redis
[submodule "backend/app/core/valkey_core"]
	path = backend/app/core/valkey_core
	url = https://github.com/wcf000/valkey-redis-flow.git
[submodule "backend/app/core/prometheus"]
	path = backend/app/core/prometheus
	url = https://github.com/wcf000/prometheus-client-utils.git
[submodule "backend/app/core/grafana"]
	path = backend/app/core/grafana
	url = https://github.com/wcf000/grafana-client-utils.git
[submodule "backend/app/core/telemetry"]
	path = backend/app/core/telemetry
	url = https://github.com/wcf000/telemetry-utils.git
[submodule "backend/app/core/third_party_integrations/stripe_home"]
	path = backend/app/core/third_party_integrations/stripe_home
	url = https://github.com/TechWithTy/fast_stripe_python_template.git
[submodule "backend/app/core/pulsar"]
	path = backend/app/core/pulsar
	url = https://github.com/wcf000/pulsar-client.git
[submodule "backend/app/core/db_utils"]
	path = backend/app/core/db_utils
	url = https://github.com/wcf000/postgres-db-utils.git
[submodule "backend/app/core/third_party_integrations/supabase_home"]
	path = backend/app/core/third_party_integrations/supabase_home
	url = https://github.com/wcf000/supabase-python-template.git
[submodule "backend/app/model_context_protocol"]
	path = backend/app/model_context_protocol
	url = https://github.com/wcf000/lightspeed_mcp.git
